.navbar {
  display: flex;
  justify-content: space-between;
  padding: 12px 18px;
  background: #222;
  color: white;

  h2 {
    margin: 0;
  }

  .nav-links {
    list-style: none;
    display: flex;
    gap: 20px;

    a {
      color: #fff;
      text-decoration: none;
      font-weight: 500;

      &:hover {
        text-decoration: underline;
      }
    }
  }
}
